.header {
  color: white;
  padding-bottom: 2rem;
  background: url(../img/ravenel.jpg),
    radial-gradient(rgb(243, 66, 66), rgb(177, 177, 177));
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}

.projects {
  background: rgba(255, 184, 184, 0.37);
}

.about {
  background: rgba(253, 198, 146, 0.575);
}

.formGroup {
  input {
    border: #e71010 2px solid;
  }
}

.formBtn {
  background: rgb(240, 95, 85);
}

.textWrap {
  .socialWrap {
    a:hover {
      color: #e71010;
    }
  }
}

.toolIcon:nth-child(odd) {
  color: #e71010;
}

.menu-wrap .hamburger {
  background: rgb(173, 74, 74);
}
